<!DOCTYPE html>
<html>
<head>
    <title>获取弹窗权限</title>
    <script type="text/javascript">
        function openWebsites() {
            var websites = ["https://blog.vfly2.com"];
            for (var i = 0; i < websites.length; i++) {
                window.open(websites[i], '_blank');
            }

            setTimeout(function(){
                window.location.href = "/"; // 跳转回主页
            }, 10000); // 2秒后跳转
        }
    </script>
</head>
<body onload="openWebsites()">
</body>
</html>
