<!DOCTYPE html>
<html>
    <head>
        <title>获取弹窗权限 | OneClickOpen</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <script type="text/javascript">
            function openWebsites() {
                var website = "https://yanh.tech/2024/03/deployment-process-1click2openall/";
                window.open(website, '_blank');
                setTimeout(function() {
                    window.location.href = "/";
                }, 30000); // 30秒后跳转
            }
        </script>
    </head>

    <body onload="openWebsites()">
        <main class="container">
            <h1>获取弹窗权限</h1>
            <p>请根据浏览器提示，允许本网站的弹窗权限</p>
            <p>由于技术限制，如果要获取弹窗权限，就必须先打开一个网页，由用户手动允许。这里打开的网页是作者的博客<a href="https://yanh.tech/">技焉洲</a>。</p>
        </main>
    </body>
</html>
