<!DOCTYPE html>
<html>
<head>
    <title>OneClickOpen</title>
    {{ track_js_codes | safe }}
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        .subtitle {
            text-align: center;
            font-size: 12px;
        }
        .divider {
            border-top: 1px dashed #000;
            margin: 20px 0;
        }
    </style>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script type="text/javascript">
        function checkForm() {
            var textarea = document.getElementById('websites');
            if (textarea.value.trim() === "") {
                // 如果文本框为空，则不提交表单
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to Use 1Click2OpenALL!</h1>
        <p class="subtitle">by AhFei</p>
        <p class="subtitle">GitHub: <a href="https://github.com/ahfeil/1Click2OpenALL">https://github.com/ahfeil/1Click2OpenALL</a></p>
        <p class="subtitle">自建: <a href="https://goto.vfly2.com/1c2o">一键打开全部网址，开源小工具，支持 Docker 安装</a></p>
        <div class="divider"></div>

        <a href="/acquire_pop_up">{{ message_of_pop_up }}</a>
        <p>Enter the websites you want to open:</p>
        <form id="websiteForm" hx-post="/open_websites" hx-target="#open_websites_js" hx-swap="innerHTML" hx-trigger="submit[checkForm()]">
            <textarea id="websites" name="websites" rows="15" cols="70" placeholder="在此输入网址，每行一个"></textarea> <br><br>
            <button type="submit">Open Websites</button>
        </form>
    </div>

    <div class="container">{{ ad_html | safe }}</div>

    <div id="open_websites_js"></div>
</body>
</html>
