<!DOCTYPE html>
<html>
<head>
    <title>OneClickOpen</title>
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function submitForm() {
            var websites = document.getElementById('websites').value.trim();

            // 如果网址为空，则不提交表单
            if (websites === '') {
                return false;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to Use OneClickOpen!</h1>
        <a href="/acquire_pop_up">IF First use, then click me to Acquire Pop Up</a>
        <p>Enter the websites you want to open:</p>
        <form action="/open_websites" method="post" onsubmit="return submitForm()">
            <textarea id="websites" name="websites" rows="10" cols="50" placeholder="在此输入网址，每行一个"></textarea><br><br>
            <button type="submit">Open Websites</button>
        </form>
    </div>

    <!-- 显示上一次输入的网址 -->
    {% if websites %}
    <div class="container">
        <h2>Last Entered Websites:</h2>
        <ul>
            {% for website in websites %}
            <li>{{ website }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>
</html>
