<!-- 显示上一次输入的网址 -->
{% if websites %}
<div class="container">
    <h2>Last Entered Websites:</h2>
    <ul>
        {% for website in websites %}
        <li>{{ website }}</li>
        {% endfor %}
    </ul>
    <br/>
    <h2>The lines that do not contain a URL:</h2>
    <ul>
        {% for line in lines_without_url %}
        <li>{{ line }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<script type="text/javascript">
    function openWebsites() {
        var websites = {{ websites|tojson }};
        for (var i = 0; i < websites.length; i++) {
            window.open(websites[i], '_blank');
        }
        document.getElementById('websiteForm').reset();  // 清空表单
    }
    openWebsites(); // 调用函数以打开网页
</script>
